﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - PHUNG LE QUOC TRUNG GARA CARSMULTI</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-right">
                <section id="login">
                    <h2>  @Html.Partial("_LoginPartial")</h2>
                </section>

            </div>
            <div class="float-left">

                @*   <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>*@
                <nav>
                    <ul id="menu">
                        <h2>
                            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Tin Tức", "index", "post")</li>
                            <li>@Html.ActionLink("Gara carsmulti", "index", "cars")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </h2>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Phùng Lê Quốc Trung</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
