﻿@model Blog_5_18_11_2014.Models.Danhthang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Danhthang</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProFile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProFile.UserName)
    </div>
</fieldset>
<p>
 
    @Html.ActionLink("Back to List", "Index")
</p>
