﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - PHÙNG LÊ QUỐC TRUNG </title> 
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <img src="~/Images/bia.jpg" width="1300" height="300">
        
    </head>
    <body>
        <header>
            
            <div class="content-wrapper">
                 <div class="float-right">
                    <section id="login">
                      <h2>  @Html.Partial("_LoginPartial")</h2>
                    </section>
                    
                </div>
                <div class="float-left">
                    
                
                    <nav>
                        <ul id="menu">
                          <h2> <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                            
                            <li>@Html.ActionLink("Gara Carsmulti", "index", "post")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li> </h2> 
                            
                        </ul>
                    </nav>
                </div>
               
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <img src="~/Images/cuoitrang.jpg" width="1300" height="300" />
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Phùng Lê Quốc Trung</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
