﻿@model IEnumerable<Blog_5_18_11_2014.Models.Tag>

@{
    ViewBag.Title = "Vượt qua giới hạn với phong cách riêng của mình";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}

<section class="featured"> <h2>Thông tin xe hơi</h2>
        <div class="content-wrapper">
                
<fieldset>
    <legend>List(Posts)</legend>
    <table>
<tr>
        <th>
            Title
        </th>
        <th>
            Body
        </th>
        <th>
            DateCreated
        </th>

    </tr>
     
     @foreach (Blog_5_18_11_2014.Models.Post post in ViewBag.posts)
     {
         string abc = post.Title.ToString()+ ".jpg";
         
    <tr>
        <td>
            @Html.DisplayFor(modelItem => post.Title)
            <a href="Post/Details/@post.ID"><img src="~/Images/@abc" width="500" height="500" /></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem =>  post.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => post.DateCreated)
        </td>

    </tr>
        }
    </table>
    <div class="float-right">
        <a href="Post" style="color:#0094ff"><h2></h2> Xem Thêm</a>
    </div>
</fieldset>




            
        </div>
</section>