﻿@model Blog_5_18_11_2014.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<fieldset>
    <section class="featured">
            <h2>Thông tin xe hơi</h2>
        <div class="content-wrapper">
            <legend>Post</legend>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Title)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Title) 
            </div>
           
                    <img src="~/Images/lamborghini.jpg"  width="500" height="500" />

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Body)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Body)
                    </div>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.DateCreated)
                    </div>
</section>
    </div>
         </fieldset>

<legend><h2>Add Comment</h2></legend>
@Html.Partial("_addComment", new Blog_5_18_11_2014.Models.Comment(), ViewData)


<fieldset>
    <legend>List(Comments)</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DataCreated).Take(10)) 
    { 
        <div class="display-field">
            <h2> Ngày Tạo: @Html.DisplayFor(x => comment.DataCreated) </h2>
        </div>
       
        <div class="display-field">
            @Html.DisplayFor(x => comment.Body)
        </div>
              
    }
</fieldset>


<fieldset> 

       <legend>Tags </legend>
        <h2>Tags:</h2>
          @foreach (var Tag in Model.Tags.Take(10))
          {
             string nameTag = Tag.content;

                <td>
                 @Html.ActionLink(nameTag, "Details/"+Tag.TagID,"Tag") >> 
                </td>
          }
</fieldset

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
