﻿@model IEnumerable<Blog_5_18_11_2014.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<section class="featured">
    <h2>Thông tin xe hơi</h2>
    <div class="content-wrapper">
        <table>
            <fieldset>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Body)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
               

                </tr>

                @foreach (var item in Model)
                {
                    string abc = item.Title.ToString() + ".jpg";
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                            <a href="Post/Details/@item.ID"><img src="~/Images/@abc" width="500" height="500" /></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        

                    </tr>
                }
</section>
    </div>
    </fieldset>
    </table>
