﻿@model IEnumerable<Blog_5_18_11_2014.Models.Tag>
@{
    ViewBag.Title = "Phung Le Quoc Trung";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}

<section class="featured">
    <h2>Danh Sach Cac Bai Viet</h2>
    <div class="content-wrapper">

        <fieldset>
            <legend>List(Posts)</legend>
            <table>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Body
                    </th>
                    <th>
                        DateCreated
                    </th>
                    <th></th>
                </tr>

                @foreach (Blog_5_18_11_2014.Models.Post post in ViewBag.posts)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => post.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => post.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => post.DateCreated)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit/" + post.ID, "Post") |
                            @Html.ActionLink("Details", "Details/" + post.ID, "Post") |
                            @Html.ActionLink("Delete", "Delete/" + post.ID, "Post")
                        </td>
                    </tr>
                }
            </table>
        </fieldset>





    </div>
</section>